@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

@include phone {
    .profile {
      padding: 1rem 1.25rem;
      margin-bottom: 24.7rem;
      &__container {
        border: 1px solid $color-one;
      }
      &__top {
        display: flex;
        justify-content: space-between;
      }
      &__left {
          margin: 1rem 0.5rem;
        display: flex;
        align-items: center;
      }
      &__img {
        width: 5rem;
        height: 5rem;
        border: 1px solid $color-one;
        border-radius: 50%;
      }
      &__name {
        &-t {
          margin-left: 1.5rem;
          font-size: 1rem;
        }
      }
      &__right {
          margin: 0.7rem;
        &-i {
          width: 1.25srem;
          height: 1.25rem;
        }
      }
      &__hr{
          margin: 0;
      }
      &__mid {
          display: flex;
          justify-content: space-evenly;
        &-t {
          font-size: 1rem;
          font-weight: 600;
          padding: 0.7rem;
        }
        &-hr {
          margin: 0;
        }
      }
      &__socials {
          display: flex;
          justify-content: space-evenly;
        &-ic {
          padding: 1rem;
        }
        &-hr{
          margin: 0;
        }
        &-i {
          width: 1.25srem;
          height: 1.25rem;
        }
      }
    }
  }
  