@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use '../../styles//partials/fonts' as *;

@include phone {
    .main {
      padding: 1rem 1.25rem;
      &__header {
        margin: 0;
        font-size: 2.3rem;
        letter-spacing: 0rem;
        text-align: center;
        font-family: inter;

      }
      &__form {
        padding-top: 1.5rem;
        display: flex;
        flex-direction: column;
        &-input {
          &-icon{
              position: absolute;
              margin-left: 1rem;
              margin-top: 0.6rem;
              width: 1.75rem;
              height: 3rem;
          }
          &-field{
              box-sizing: border-box;
              height: 4.3rem;
              width: 100%;
              padding-left: 3.5rem;
              &::placeholder{
                  font-size: 1.12rem;
              }
          }
        }
        &-search {
          margin: 1rem 0;
          height: 4.3rem;
          // border: 1px solid $color-one;
          border-radius: 0.31rem;
          &-btn {
            text-decoration: none;
            color: $color-one;
            text-align: center;
            display: flex;
            padding: 1rem;
            width: 100%;
            align-items: center;
            justify-content: center;
            margin: 1rem 0;
            border: 1px solid $color-one;
            border-radius: 5px;
            background-color: rgba(229, 229, 229, 0.435);
            &:hover{
              background-color: #026eea;
            }
          }
          &-t {
            margin: 0;
            font-size: 1.5rem;
            font-weight: 600;
            color: $color-one;
            letter-spacing: 0.3rem;
            &:hover{
              color: $color-two;
            }

          }
        }
      }
      &__categories {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        &-b {
          border: 1px solid rgb(46, 46, 46);
          background-color: rgba(229, 229, 229, 0.435);
          display: flex;
          align-items: center;
          margin: 0.4rem 0;
          border: none;
          border-radius: 1.25rem;
          padding: 0 1rem;
          &:hover{
            background-color: #026eea;;
          }
        }
        &-icon {
          margin: 0.2rem 0rem;
          width: 1.5rem;
          height: 1.5rem;
          padding-top: 0.2rem;
        }
        &-name {
          margin: 0;
          color: $color-one;
          font-weight: 600;
          padding: 0.7rem 0rem;
          padding-left: 0;
          font-size: 0.62rem;
          font-weight: 700;
          
        }
      }
      &__map {
          margin: 1.5rem 0;
          border: none;
          height: 22.37rem;
      }
    }
  }
  