@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;


@include phone {
    .main__shop {
      display: flex;
      flex-direction: column;
      border: 1px solid $color-one;
      border-radius: 0.33rem;
      background-color: $color-two;
      &-top {
        display: flex;
        align-items: center;
      }
      &-left {
        width: 4.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &-icon {
          margin-top:0.6rem ;
        width: 2.56rem;
        height: 2.56rem;
      }
      &-hr {
        margin: 0;
        height: 4.62rem;
      }
      &-right {
        padding-left: 1.5rem;
      }
      &-name {
        margin: 0;
        font-weight: 700;
        color: $color-four;
      }
      &-hro {
        margin: 0;
      }
      &-bottom {
        padding: 1rem;
      }
      &-bio {
        &-t {
          margin: 0;
          font-size: 0.8rem;
          font-weight: 600;
          
        }
        margin-bottom: 3.5rem;
      }
      &-info {
        display: flex;
        margin-bottom: 0.7rem;
        width: 100%;
      }
      &-founded {
        width: 70%;
      }
      &-h {
        font-size: 0.75rem;
        font-weight: 500;
        margin: 0;
        padding-bottom: 0.5rem;
      }
      &-t {
        margin: 0;
        font-size: 0.81rem;
        font-weight: 600;
      }
      &-socials {
        display: flex;
        justify-content: space-evenly;
        height: 2rem;
        &-ic {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          background-color: rgba(229, 229, 229, 0.435);
          margin: 0;
          // &:hover{
          //   background-color: #026eea;
          // }
        }
        &-i {
          width: 1rem;
          height: 1rem;
        }
        &-hr {
          margin: 0;
        }
      }
      &-website{
        background-color: rgba(229, 229, 229, 0.435);
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover{
            background-color: #026eea;
          }
          &-t{
              font-size: 0.75rem;
          } 
          &-l{
            text-decoration: none;
            color: $color-one;
          }  
      }
    }
  }
  