@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

@include phone {
  .added {
    padding: 1rem 1.25rem;
    &__header {
      margin: 0;
      font-size: 1.87rem;
      margin-bottom: 2rem;
    }
    &__form {
      margin: 1rem 0;
      display: flex;
      flex-direction: column;
      &-l {
        font-size: 0.93rem;
        padding: 0.5rem 0;
      }
      &-i {
        padding: 0.7rem 0;
        margin-bottom: 0.5rem;
        border: 1px solid $color-one;
        width: 100%;
        padding-left: 1rem;
      }
      &-consent {
        display: flex;
        align-items: flex-start;
      }
      &-t {
        padding-left: 0.5rem;
        margin: 0;
        font-size: 0.6rem;
      }
      &-button {
        text-decoration: none;
        color: $color-one;
        font-weight: 600;
        margin-top: 2rem;
        background-color: $color-two;
        border: 1px solid $color-one;
        padding: 0.6rem 0;
        border-radius: 5px;
        font-size: 0.75rem;
        text-align: center;
      }
      &-red {
        border-color: $color-three;
      }
      &-submitted {
        font-size: 0.93rem;
        font-weight: 400;
      }
      &-error {
        font-size: 0.93rem;
        font-weight: 400;
        color: $color-three;
      }
    }
  }
}
