@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

@include phone {
  .footer {
    padding: 1rem 1.25rem;
    display: flex;
    align-items: end;
    justify-content: space-between;
    &__left {
      &-header {
        font-size: 0.81rem;
        margin: 0;
        font-weight: 700;
      }
    }
    &__text{
        display: flex;
        justify-content: space-between;
        &-l{
            margin-right: 4.5rem;
        }
        &-ll{
          text-decoration: none;
          color: $color-one;
        }
    }

    &__right {
      &-link {
        text-decoration: none;
        color: $color-one;
        display: flex;
        flex-direction: column;
        align-items: end;
      }
    }

    &__t {
      font-size: 0.5rem;
      font-weight: 600;
    }

    &__name {
      margin: 0;
      font-size: 1.12rem;
      font-weight: 700;
    }
  }
}
