@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;


@include phone {
    .signup{
      padding: 1rem 1.25rem;
      margin-bottom: 18.2rem;
      &__back{
          &-link{
              text-decoration: none;
              color: $color-one;
          }
          &-t{
              margin: 0;
              font-size: 0.68rem;
              margin-bottom: 4rem;
          }
      }
      &__section{
        &-signed{
            font-size: 0.93rem;
            font-weight: 400;
        }
        &-error{
            font-size: 0.93rem;
            font-weight: 400;
            color: $color-three;
        }
          &-h2{
              margin: 0;
              padding-bottom: 1rem;
          }
          &-h3{
              font-size: 0.93rem;
              font-weight: 500;
          }
          &-top{
              border: 1px solid $color-one;
              display: flex;
              flex-direction: column;
              &-i{
                  border: none;
                  border-bottom: 1px solid $color-one;
                  padding: 0.7rem 1rem;
                  &:last-child{
                      border-bottom: none;
                  }
                  &::placeholder{
                      font-size: 0.93rem;
                  }
              }
          }
          &-bottom{
              &-t{
                background-color: $color-two;
                  border: 1px solid $color-one;
                  border-radius: 0.31rem;
                  margin-top: 1rem;
                  margin-bottom: 0.3rem;
                  padding: 1rem;
                  width: 100%;
                  text-align: center;
                  font-weight: 600;
              }
              &-orc{
                  display: flex;
                  justify-content: space-evenly;
                  align-items: center;
              }
              &-hr{
                  margin: 0;
                  border: 1px solid $color-one;
                  height: 5.12rem;
                  position: absolute;
                  transform: rotate(90deg);
                  &:first-child{
                      right: 8.5rem;
                  }
                  &:last-child{
                      left: 8.5rem;
                  }
              }
              &-p{
                  padding-bottom: 0.2rem;
                  margin: 0 1.5rem;
                  font-weight: 400;
              }
          }
      }
    }
  }
  