@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;


@include phone {
      .marker {
        background-image: url('../../assets/pin.png');
        background-size: cover;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
      }    
      .map-container-wrapper {
        background-color: $color-two;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        // Add this ↓
        position: relative;
        flex: 1;
        max-width: 100vw;
    overflow: hidden;
    }
      
      .map-container {
        width: 100%;
        height: 22.37rem;
        margin-bottom: 1rem;
      }
      
      .shop-info-container {
        background-color: $color-two;
        // margin-top: 1rem;
        width: 100%;
        box-sizing: border-box;
        height: auto;
        z-index: 1;
        position: relative;
    }
      .content{
        display: flex;
        flex-direction: column;
      }
}

.map {
  width: 100%;
  height: 100%;
  position: relative;

  &-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}