@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;


@include phone {
    .map-container {
        display: flex;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-bottom: 1.5rem;
      }
}