@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;


@include phone {
      .marker {
        background-image: url('../../assets/pin.png');
        background-size: cover;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
      }    
      .map-container-wrapper {
        background-color: $color-two;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
      }
      
      .map-container {
        width: 100%;
        height: 22.37rem;
      }
      
      .shop-info-container {
        background-color: $color-two;
        margin-top: 1rem;
        width: 100%;
        box-sizing: border-box;
        height: 21rem;
        z-index: 2;
      } 
      .content{
        display: flex;
        flex-direction: column;
      }
}